body {
    background-color: #f4f6f9;
}
.sidebar {
    background-color: #343a40;
    min-height: 100vh;
}
.sidebar .nav-link {
    color: #fff;
}
.sidebar .nav-link:hover {
    background-color: #495057;
    border-radius: 5px;@forelse ($collection as $item)

    @empty

    @endforelse
}
.card-icon {
    font-size: 2rem;
}
