/* 1. Use the ~ for node_modules */
@import "bootstrap/dist/css/bootstrap.min.css";
@import "bootstrap-icons/font/bootstrap-icons.css";

     
@import "./master.css";
@import "./user.css";        
@import "./index.css";        
