
        body {
            background-color: #f8f9fa;
        }

        /* Responsive Hero */
        .hero {
            background: url('/assets/img/hero-pc.jpg') center/cover no-repeat;
            /* height: 80vh; */
            min-height: 450px;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            position: relative;
        }

        .hero::after {
            content: "";
            position: absolute;
            inset: 0;
            background: rgba(0,0,0,0.5);
        }

        .hero-content {
            position: relative;
            z-index: 2;
        }

        /* Product Card Hover */
        .product-card {
            transition: transform 0.3s;
        }
        .product-card:hover {
            transform: translateY(-5px);
        }
