.bg-luxury-mist {
    background: linear-gradient(180deg, #ffffff 0%, #f4f7f4 100%);
}

#product-qty::-webkit-outer-spin-button,
    #product-qty::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    